// 放置全部的图片
// 全局url
$commonUrl:"http://10.10.11.41:28726";
// 首页背景图
$indexBk:$commonUrl+"/web/img/visit/bg1.png";
// 带新通lcard图
$indexCard:$commonUrl+"/web/img/visit/card.png";
// 首页实现新可能logo
$indexlogo:$commonUrl+"/web/img/visit/slogan.png";

// 登录页背景图
$loginBk:$commonUrl+"/web/img/visit/bg_2.png";
