.lx_over_text_hiedden {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}



.lx_table_wapper {
  margin-top: 27px;

  .lx_inner_table_link {
    color: #299ffa;
    text-decoration: underline;
    cursor: pointer;
  }
}
