@import "./allImgs.scss";
// 全局变量
$baseColor:#397DB0; //全局色调
$btnConfirmColor:#397DB0; //确认按钮蓝色
$redColor:#df514e; //红色
$commonFontColor:#3C4F5E; //字体颜色 黑色
$commonFontSize:0.26rem; //字体大小
$commonCardBk:#DDF0FF; //列表的背景色 淡蓝色
$commonFontBlue:#397DB0; //列表内突出文字 淡蓝色
$commonGrey:#8C8C8C; //灰色背景
$commonTitleColor:#4CA2E2; //列表页面上的title 蓝色
$commonFontGery:#939393; //淡灰色字体颜色
$commonLightColor:#89C8F6; //淡蓝色背景

*,
body {
  margin: 0;
  padding: 0;
}

// body {
//   font-size: $commonFontSize;
// }

// flexb布局
.app_flex {
  display: -webkit-box;
  /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
  display: -moz-box;
  /* 老版本语法: Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: -webkit-flex;
  /* 新版本语法: Chrome 21+ */
  display: flex;
  /* 新版本语法: Opera 12.1, Firefox 22+ */
}

.app_flex_der {
  //竖直垂直居中
  -webkit-box-align: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
}

.app_flex_row_bettwen {
  // 水平两端对齐
  -webkit-box-pack: space-between;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.app_flex_row_right {
  // 水平末端对齐
  -webkit-box-pack: flex-end;
  -moz-justify-content: flex-end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.app_flex_row_center {
  //水平居中对齐
  -webkit-box-pack: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.app_allow_wrap {
  //允许换行
  flex-wrap: wrap;
}

.app_shu {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

// 背景图完整显示
.bck_contain {
  background-size: contain;
  background-repeat: no-repeat;
}


// 背景图cover显示
.bck_cover {
  background-size: cover;
  background-repeat: no-repeat;
}

// 背景图100%显示
.bck_all {
  background-size: cover;
  background-repeat: no-repeat;

}

// 输入框
.app_inp {
  outline: none;
  border: none;
  background: none;
  border-bottom: 1px solid #E5E5E5;
  font-size: 0.26rem;
  padding-bottom: 0.28rem;
}

.app_btn {
  background: none;
  outline: none;
  border: none;
  border-radius: 8px;
  text-align: center;
  color: #fff;
  font-size: 0.28rem;
  background-color: $btnConfirmColor;

}

.app_btn[disabled] {
  background-color: #CDCDCD;
}

// 禁用btn
.app_btn_no {
  background-color: #CDCDCD;
}

// 可用btn
.app_btn_confirm {
  background-color: $btnConfirmColor;
}

// 公用的wapperr
.app_wapper {
  font-size: 0.30rem;
  position: absolute;
  color: $commonFontColor;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

.app_inp_noline {
  outline: none;
  border: none;
  background: none;
}


// 公用的tabs
// .app_tabs_wapper {
//   background-color: $baseColor;
// }
// 列表页的样式
.app_set_wapper {
  background-color: #fff;
  height: 100%;
  box-sizing: border-box;
  padding-top: 1.88rem;
  background-image: url($partyIndex);
  font-size: 0.26rem;

  .app_list_wapper {
    width: 100%;
    height: auto;
    position: relative;
    top: -0.39rem;
    bottom: 0;

    .app_content {
      width: 6.70rem;
      margin: 0 auto;
      overflow: auto;
      box-sizing: border-box;
      height: 100%;

      // 列表页面的右侧提示
      .app_second_confirm {
        width: 1.28rem;
        font-size: 0.22rem;
        height: 0.38rem;
        border: 1px solid $btnConfirmColor;
        color: $btnConfirmColor;
        background-color: #fff;
        line-height: 0.40rem;
        text-align: center;
        position: absolute;
        right: -2px;
        top: 0.23rem;
      }

      .app_second_confirm_gery {
        background-color: #CDCDCD;
        border: 1px solid #CDCDCD;
        color: #fff;
      }

      // 列表上边的已反馈标签
      .app_top_title {
        background-color: #4CA2E2;
        display: inline-block;
        padding: 0.10rem 0.33rem;
        font-size: 0.22rem;
        // height: 0.42rem;
        // line-height: 0.42rem;
        box-shadow: 0px 3px 10px 0px rgba(140, 140, 140, 0.34);
        text-align: center;
        color: #fff;
        position: relative;
        left: -0.33rem;
      }

      .app_content_item {
        margin-bottom: 0.25rem;
      }

      .app_content_item:last-child {
        margin-bottom: 0;
      }



      .app_title {
        width: 1.05rem;
        height: .42rem;
        font-size: 0.22rem;
        text-align: center;
        line-height: .42rem;
        background: #CDCDCD;
        color: #fff;
        position: absolute;
        right: 0;
        top: 0.23rem;
        box-shadow: 0px 3px 10px 0px rgba(140, 140, 140, 0.34);
      }

      li {
        height: auto;
        color: $commonFontColor;
        background: #DDF0FF;
        box-shadow: 0px 2px 14px 1px rgba(31, 42, 65, 0.18);
        padding: 0.32rem;
        margin-bottom: 0.40rem;
        position: relative;
      }

      li.app_can_active {
        background-image: url($canActive);
        background-size: 0.14rem 0.26rem;
        background-repeat: no-repeat;
        background-position: 96% 50%;
      }
    }
  }

}

// 同意文字的颜色
.app_agree {
  color: $btnConfirmColor;
}

// 拒绝文字的颜色
.app_not_agree {
  color: $redColor;
}

// 弹窗里的按钮样式
.app_btn_wapper {
  width: 100%;
  margin-top: 0.56rem;

  .app_btn {
    width: 1.60rem;
    height: .62rem;
    border: 1px solid;
    border-radius: 7px;
  }

  .app_btn_qx {
    border-color: $btnConfirmColor;
    background-color: #fff;
    color: $btnConfirmColor;
  }

  .app_btn_confirm {
    border-color: $btnConfirmColor;
    background-color: $btnConfirmColor;
    color: #fff;

  }

}

// 个人中心
.app_personl_wapper {
  padding-bottom: 1rem;
  box-sizing: border-box;
  overflow: auto;
  background-image: url($partyIndex);
  background-color: #fff;

  .app_out_btn {
    display: block;
    width: 5.48rem;
    padding: 0.27rem 0;
    margin: 0 auto;
    margin-top: 0.64rem;
  }

  .app_top_bak {
    width: 100%;
    height: 2.61rem;
    background-position: 0 -1rem;
    background-image: url($peronalTop)
  }

  .app_set_img {
    display: block;
    width: 1.50rem;
    height: 1.50rem;
    border: 1px solid red;
    margin: 0 auto;
    margin-top: 0.50rem;
  }

  .app_my_content {
    padding: 1.17rem 0.75rem;

    p {
      text-align: center;
    }
  }

}

// 个人中心end

// 类似表单填写的form
.app_items_wapper {
  margin-top: 0.35rem;

  .app_item {
    border-bottom: 1px solid #E2E2E2;
    padding-bottom: 0.35rem;
    margin-bottom: 0.35rem;
    padding-left: 0.41rem;
    background-image: url($canActive);
    background-repeat: no-repeat;
    background-size: 0.14rem 0.26rem;
    background-position: 96% 23%;
    box-sizing: border-box;
    padding-right: 0.76rem;

    .app_inp {
      text-align: right;
      border: none;
      padding: 0;
      width: 5.00rem;
    }
  }

  .app_no_bk {
    background: none;

  }
}

// 页面最下方固定的btn

.app_btn_fixed_bot {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.27rem 0;
  border-radius: 0;
}

// 背景$partyIndex的wapper
.app_wapper_bk3 {
  background-image: url($partyIndex);
  background-color: #fff;
}

// 国合方 列表上的按钮
.app_btns_wapper {
  // position: absolute;
  // z-index: 999;

  .app_muti_btn {
    width: 1.96rem;
    // margin: 0 auto;
    // display: block;
    // position: absolute;
    // z-index: 9999;
    // height: 0.54rem;
    padding: 0.16rem 0;
    font-size: 0.24rem;
    box-shadow: 0px 5px 10px 0px rgba(64, 149, 227, 0.3);
  }
}

.app_gery {
  color: #939393;
}

.app_has_padding {
  box-sizing: border-box;
  padding: 0 0.59rem;
}


//弹窗
.app_set_wapper {
  .app_common_dia {
    .app_card_wapper {
      box-sizing: border-box;
      padding: 0.90rem 0.40rem;
      text-align: center;
    }
  }

  textarea {
    border: 1px solid #E5E5E5;
    width: 100%;
    outline: none;
    margin: 0.30rem 0 0;
    padding: 0.20rem;
    min-height: 1.66rem;
    box-sizing: border-box;
  }

  .app_btn_wapper {
    box-sizing: border-box;
    padding: 0 0.52rem;
  }
}

// 国合方等的详情页面
.app_detail_wapper {
  font-size: 0.26rem;

  .app_detail_top {
    padding-top: 0.65rem;

    // 列表页面的右侧提示
    .app_second_confirm {
      width: 1.28rem;
      font-size: 0.22rem;
      height: 0.38rem;
      border: 1px solid $btnConfirmColor;
      color: $btnConfirmColor;
      background-color: #fff;
      line-height: 0.40rem;
      text-align: center;
      // position: absolute;
      // right: -2px;
      // top: 0.23rem;
    }

    // 列表上边的已反馈标签
    .app_top_title {
      background-color: #4CA2E2;
      display: inline-block;
      padding: 0.10rem 0.33rem;
      font-size: 0.22rem;
      // height: 0.42rem;
      // line-height: 0.42rem;
      box-shadow: 0px 3px 10px 0px rgba(140, 140, 140, 0.34);
      text-align: center;
      color: #fff;
      // position: relative;
      // left: -0.33rem;
    }
  }

  .app_inner_item {
    border-bottom: 1px solid #E2E2E2;
    padding: 0.38rem 0.73rem 0.51rem;

    p {
      margin: 0;
      margin-bottom: 0.41rem;
    }

    p:last-child {
      margin: 0;
    }

    .app_inner_item_img {
      width: 1.30rem;
      height: 1.30rem;
      vertical-align: middle;
      display: inline-block;
      border: 1px solid red;
    }
  }

  .app_inner_item:last-child {
    border: none;
  }
}

.app_rej_btn {
  background-color: $redColor;
}
